<app-header></app-header>
<div class="header-container">
  <h2>Sheleves</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/create-shelf">
      Create Shelf
    </button>
  </div>
</div>


<mat-expansion-panel disabled class="header-row">
  <mat-expansion-panel-header>
    <mat-panel-title class="header-item"> ID </mat-panel-title>
    <mat-panel-description> Name</mat-panel-description>
    <mat-panel-description> Type</mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<div *ngFor="let shelf of shelves">
  <app-shelf-list [shelf]="shelf"/>
</div>
