<mat-card class="form-container">
    <mat-card-title>Create shelf</mat-card-title>
    <mat-card-content>
      <form>
        <!-- shelf ID -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>shelf ID</mat-label>
          <input matInput type="text" [(ngModel)]="shelf.id" name="shelfId" required>
        </mat-form-field>
  
        <!-- shelf Name -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>shelf Name</mat-label>
          <input matInput type="text" [(ngModel)]="shelf.name" name="shelfName" required>
        </mat-form-field>
  
        <!-- shelf Type-->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>shelf Type</mat-label>
          <input matInput type="text" [(ngModel)]="shelf.shelfType" name="shelfType" required>
        </mat-form-field>

        <!-- ShelfPosition ID -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>shelfPosition ID</mat-label>
            <input matInput type="text" [(ngModel)]="shelf.shelfPositionId" name="shelfPositionId">
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button color="primary" class="full-width" (click)="onSubmit()" routerLink="/shelves">Create shelf</button>
      </form>
    </mat-card-content>
  </mat-card>
  
