<app-header></app-header>

<div class="header-container">
  <h2>Devices</h2>
  <div class="button-container">
    <button mat-raised-button color="primary" routerLink="/create-device">
      Create Device
    </button>
  </div>
</div>

<!-- <div class="card-container">
  <mat-card appearance="outlined">
    <mat-card-content>
        <span style="margin-left:10px">ID</span>
        <span style="margin-left: 100px;">Name</span>
        <span style="margin-left: 150px;">Device Type</span>
    </mat-card-content>
  </mat-card>  
</div> -->

<mat-expansion-panel disabled class="header-row">
  <mat-expansion-panel-header>
    <mat-panel-title class="header-item"> ID </mat-panel-title>
    <mat-panel-description> Name</mat-panel-description>
    <mat-panel-description> Type</mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<div class="list-container">
  <div *ngFor="let device of devices">
    <app-device-list [device]="device"/>
  </div>
</div>