<app-header></app-header>

<div class="button-container">
  <button mat-raised-button color="primary" routerLink="/create-device">
    Create Device
  </button>
</div>

<div class="card-container">
  <mat-card appearance="outlined">
    <mat-card-content>
        <span style="margin-left:10px">ID</span>
        <span style="margin-left: 100px;">Name</span>
        <span style="margin-left: 150px;">Device Type</span>
    </mat-card-content>
  </mat-card>  
</div>

<div *ngFor="let device of devices">
  <app-device-list [device]="device"/>
</div>